In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import cufflinks as cf
%matplotlib inline
from plotly.offline import download_plotlyjs
from plotly.offline import init_notebook_mode
from plotly.offline import plot , iplot
#  To use plotly we need to initate it for each notebook
init_notebook_mode(connected=True)
# To use cufflinks as offline we call the below function
cf.go_offline()

In [3]:
data1 = pd.read_csv('DataWeierstrass.csv', delimiter=";")
data1

,professor,lecture,participants,professional expertise,motivation,clear presentation,overall impression
0,prof01,lecture075,112,1.72,1.81,2.58,2.62
1,prof01,lecture076,50,1.57,1.88,2.31,2.30
2,prof02,lecture077,101,1.23,1.56,1.64,1.78
3,prof02,lecture078,21,1.20,1.20,1.95,2.16
4,prof02,lecture079,8,1.25,1.50,2.25,1.50
...,...,...,...,...,...,...,...
117,prof43,lecture070,199,1.42,1.69,2.75,2.71
118,prof43,lecture071,76,1.11,1.36,2.09,2.21
119,prof44,lecture072,17,1.53,1.76,2.41,2.06
120,prof44,lecture073,151,1.71,1.96,1.99,2.20
121,prof44,lecture074,40,1.75,1.95,2.20,2.08

In [4]:
#data = pd.read_csv('DataWeierstrass.csv', delimiter=";")
data2 = pd.read_csv('DataWeierstrass.csv', delimiter=";").groupby(['professor', 'lecture'], as_index = False).mean()
data2

,professor,lecture,participants,professional expertise,motivation,clear presentation,overall impression
0,prof01,lecture075,112.0,1.72,1.81,2.58,2.62
1,prof01,lecture076,50.0,1.57,1.88,2.31,2.30
2,prof02,lecture077,101.0,1.23,1.56,1.64,1.78
3,prof02,lecture078,21.0,1.20,1.20,1.95,2.16
4,prof02,lecture079,8.0,1.25,1.50,2.25,1.50
...,...,...,...,...,...,...,...
96,prof43,lecture070,199.0,1.42,1.69,2.75,2.71
97,prof43,lecture071,76.0,1.11,1.36,2.09,2.21
98,prof44,lecture072,17.0,1.53,1.76,2.41,2.06
99,prof44,lecture073,151.0,1.71,1.96,1.99,2.20
100,prof44,lecture074,40.0,1.75,1.95,2.20,2.08

In [4]:
data2.head()

,professor,lecture,participants,professional expertise,motivation,clear presentation,overall impression
0,prof01,lecture075,112.0,1.72,1.81,2.58,2.62
1,prof01,lecture076,50.0,1.57,1.88,2.31,2.30
2,prof02,lecture077,101.0,1.23,1.56,1.64,1.78
3,prof02,lecture078,21.0,1.20,1.20,1.95,2.16
4,prof02,lecture079,8.0,1.25,1.50,2.25,1.50

In [6]:
df = pd.DataFrame(data1, columns=['lecture','participants', 'professional expertise', 'motivation', 'clear presentation', 'overall impression'])

In [7]:
df

,lecture,participants,professional expertise,motivation,clear presentation,overall impression
0,lecture075,112.0,1.72,1.81,2.58,2.62
1,lecture076,50.0,1.57,1.88,2.31,2.30
2,lecture077,101.0,1.23,1.56,1.64,1.78
3,lecture078,21.0,1.20,1.20,1.95,2.16
4,lecture079,8.0,1.25,1.50,2.25,1.50
...,...,...,...,...,...,...
96,lecture070,199.0,1.42,1.69,2.75,2.71
97,lecture071,76.0,1.11,1.36,2.09,2.21
98,lecture072,17.0,1.53,1.76,2.41,2.06
99,lecture073,151.0,1.71,1.96,1.99,2.20
100,lecture074,40.0,1.75,1.95,2.20,2.08

In [16]:
prof_keys = list(data2['professor'])
prof_keys

['prof01',
 'prof01',
 'prof02',
 'prof02',
 'prof02',
 'prof02',
 'prof02',
 'prof03',
 'prof03',
 'prof03',
 'prof03',
 'prof03',
 'prof04',
 'prof04',
 'prof04',
 'prof05',
 'prof05',
 'prof06',
 'prof07',
 'prof08',
 'prof08',
 'prof09',
 'prof10',
 'prof10',
 'prof11',
 'prof11',
 'prof12',
 'prof13',
 'prof13',
 'prof14',
 'prof14',
 'prof14',
 'prof14',
 'prof14',
 'prof15',
 'prof15',
 'prof15',
 'prof15',
 'prof15',
 'prof15',
 'prof15',
 'prof16',
 'prof16',
 'prof16',
 'prof16',
 'prof16',
 'prof16',
 'prof17',
 'prof17',
 'prof17',
 'prof17',
 'prof17',
 'prof18',
 'prof18',
 'prof19',
 'prof20',
 'prof21',
 'prof22',
 'prof23',
 'prof23',
 'prof23',
 'prof24',
 'prof24',
 'prof25',
 'prof26',
 'prof27',
 'prof28',
 'prof29',
 'prof29',
 'prof30',
 'prof31',
 'prof31',
 'prof32',
 'prof33',
 'prof33',
 'prof33',
 'prof34',
 'prof34',
 'prof34',
 'prof35',
 'prof35',
 'prof36',
 'prof37',
 'prof37',
 'prof38',
 'prof38',
 'prof39',
 'prof39',
 'prof40',
 'prof40',
 'prof40',
 'prof40',
 'prof40',
 'prof41',
 'prof42',
 'prof42',
 'prof43',
 'prof43',
 'prof44',
 'prof44',
 'prof44']

In [15]:
prof_val =  [int(x[4:]) for x in prof_keys]
prof_val

[1,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 5,
 5,
 6,
 7,
 8,
 8,
 9,
 10,
 10,
 11,
 11,
 12,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 19,
 20,
 21,
 22,
 23,
 23,
 23,
 24,
 24,
 25,
 26,
 27,
 28,
 29,
 29,
 30,
 31,
 31,
 32,
 33,
 33,
 33,
 34,
 34,
 34,
 35,
 35,
 36,
 37,
 37,
 38,
 38,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 41,
 42,
 42,
 43,
 43,
 44,
 44,
 44]

In [19]:
data2['overall impression'].values

array([2.62 , 2.3  , 1.78 , 2.16 , 1.5  , 1.3  , 1.36 , 1.91 , 1.84 ,
       2.5  , 3.23 , 1.83 , 1.67 , 1.88 , 2.36 , 1.785, 1.5  , 3.01 ,
       1.85 , 1.92 , 2.13 , 3.   , 2.155, 2.355, 2.04 , 2.23 , 1.83 ,
       1.73 , 1.6  , 1.82 , 1.13 , 1.645, 1.655, 1.69 , 1.84 , 2.59 ,
       1.99 , 1.96 , 1.77 , 1.94 , 1.82 , 1.29 , 2.3  , 2.25 , 2.19 ,
       1.82 , 1.91 , 2.31 , 1.7  , 2.245, 2.4  , 1.71 , 2.885, 1.89 ,
       2.29 , 1.33 , 2.975, 2.13 , 2.13 , 2.675, 4.06 , 2.06 , 2.32 ,
       2.52 , 1.17 , 1.43 , 2.53 , 1.9  , 1.76 , 1.95 , 1.67 , 1.71 ,
       2.54 , 2.62 , 3.26 , 2.83 , 2.6  , 1.63 , 2.51 , 2.67 , 3.46 ,
       2.32 , 2.31 , 2.175, 2.07 , 1.91 , 2.04 , 2.06 , 2.03 , 2.66 ,
       1.765, 1.86 , 1.94 , 1.875, 1.91 , 2.   , 2.71 , 2.21 , 2.06 ,
       2.2  , 2.08 ])